<ul id="users">
  <h1> <%= "#{pluralize(@users.count, 'User')}"%> </h1>
  <% @users.each do |user| %>
    <li>
      <article class="user">
        <header>
          <h2><%= link_to user.name, user %></h2>
        </header>
      </article>
    </li>
  <% end %>
</ul>
