$primary-color: #237CBE;
$secondary-color: #F0F0F0;

header#page-header {
  color: $secondary-color;
  background: $primary-color;
  padding: 5px;
}

footer#page-footer {
  text-align: center;
  padding: 5px;
  color: $primary-color;
  background: $secondary-color;
}

aside#sidebar {
  float: right;
  background: $secondary-color;
  width: 200px;
}