<header>
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h1>
</header>
<ul id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <article class="review">
        <header>
          <h2><%= "#{pluralize(review.stars, "star")} by #{review.name}" %></h2>
          <p><%= review.comment %></p>
          <p><i><%= time_ago_in_words(review.created_at) %> ago</i></p>
        </header>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>

